@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-base: #e7d7c1;
  --color-primary: #bf4342;
  --color-primary-strong: #8c1c13;
  --color-text-base: #735751;
  --color-text-muted: #a78a7f;
}